<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!-- Test Execution Settings -->
    <add key="Browser" value="chrome" />
    <add key="Device" value="desktop" />
   
    <!-- Application Under Test Settings -->
    <add key="HomePageUrl" value="http://qaworks.com" />
    <add key="ContactUsPageUrl" value="http://qaworks.com/contact.aspx" />
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow>
</configuration>